.btns-auth{
    padding:10px 0;
}

.header__link{
     float: left;
 }

.header__auth{
    float: left;
    margin:0 12px;
}

.header__info{
    float: right;
}

.auth-btns__item{
    float: left;
    padding:0 10px;
}