<md-card class="app-vacancy-creation__form-wrap">
  <md-card-title class="app-vacancy-creation__title">
    Создание вакансии
  </md-card-title>

  <form class="app-vacancy-creation__form"
        (ngSubmit)="onSubmit()"
        [formGroup]="vacancyForm">

    <md-input-container class="app-vacancy-creation__title-wrap">
      <input md-input
             formControlName="title"
             type="text"
             placeholder="Заголовок"
             #titleRef>
    </md-input-container>
    <!-- [hidden]="titleRef.classList.contains('ng-valid') ||
                 titleRef.classList.contains('ng-pristine')">
      invalid title
    </-->

    <md-input-container class="app-vacancy-creation__description-wrap">
        <textarea md-input
                  rows="10"
                  formControlName="description"
                  placeholder="Описание"
                  #descriptionRef>
        </textarea>
        <md-hint align="end">
          {{descriptionRef.value.length}} / 2000
        </md-hint>
    </md-input-container>

    <button md-mini-fab
            class="app-vacancy-creation__submit"
            type="submit"
            color="accent"
            [disabled]="vacancyForm._status == 'INVALID'">
      <md-icon>check</md-icon>
    </button>

  </form>
</md-card>
