:host{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.app-vacancies__content{
  width: 100%;
}
.app-vacancies__vacancy{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  margin: 10px 0;
  border-left: 1px solid #b4b4b4;
  border-right: 1px solid #b4b4b4;
}
.app-vacancies__vacancy-title{
  color: #323232;
}
.app-vacancies__vacancy-date{
  background-color: #e0e0e0;
  padding: 8px 12px;
  border-radius: 24px;
  line-height: 16px;
  color: #4e4e4e;
  font-size: 13px;
}
